.max-w-sm.w-full.lg:max-w-full.lg:flex
  .h-48.lg:h-auto.lg:w-48.flex-none.bg-cover.rounded-t.lg:rounded-t-none.lg:rounded-l.text-center.overflow-hidden{style: "background-image: url('https://immedilet-invest.com/wp-content/uploads/2016/01/user-placeholder-300x300.jpg')", title: ""}
  .border-r.border-b.border-l.border-gray-400.lg:border-l-0.lg:border-t.lg:border-gray-400.bg-white.rounded-b.lg:rounded-b-none.lg:rounded-r.p-4.flex.flex-col.justify-between.leading-normal.w-full
    .mb-8
      %p.text-sm.text-gray-600.flex.items-center
        %svg.fill-current.text-gray-500.w-3.h-3.mr-2{viewbox: "0 0 20 20", xmlns: "http://www.w3.org/2000/svg"}
          %path{d: "M4 8V6a6 6 0 1 1 12 0v2h1a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-8c0-1.1.9-2 2-2h1zm5 6.73V17h2v-2.27a2 2 0 1 0-2 0zM7 6v2h6V6a3 3 0 0 0-6 0z"}
        Members only
      .text-gray-900.font-bold.text-xl.mb-2
        = model.name
      %p.text-gray-700.text-base
        = ""
    .flex.items-center
      .text-sm
        %p.text-gray-900.leading-none
          = model.email
        %p.text-gray-600
          = l(model.created_at)