- link_classes = "block mt-4 lg:inline-block lg:mt-0 text-indigo-200 hover:text-white mr-4"
%nav.flex.items-center.justify-between.flex-wrap.bg-indigo-700.p-6
  .flex.items-center.flex-shrink-0.text-white.mr-6
    = link_to "Demo", "", class: "font-semibold text-xl tracking-tight"