- link_classes = "block mt-4 lg:inline-block lg:mt-0 text-indigo-200 hover:text-white mr-4"
- if logged_in? 
  %nav.flex.items-center.justify-between.flex-wrap.bg-indigo-700.p-6
    .flex.items-center.flex-shrink-0.text-white.mr-6
      = link_to "Demo", "", class: "font-semibold text-xl tracking-tight"
    .w-full.block.flex-grow.lg:flex.lg:items-center.lg:w-auto
      .text-sm.lg:flex-grow
        = link_to "Users", users_path, class: link_classes
      %div
        = link_to "Logout", logout_path, method: :delete, class: "inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-indigo-500 hover:bg-white mt-4 lg:mt-0"
        